/*-----------------------------------------------------------------------------------------------------------*/
#roommate_table { float: left; text-align: center; table-layout: auto;}
#roommate_table td { text-align: center;}
#roommate_table th { text-align: center;}
#roommate_table caption { text-align: center; font-weight: bold; text-decoration: underline; }
/*-----------------------------------------------------------------------------------------------------------*/
#save_prefs {clear: left;}
#travel_input {table-layout: auto; clear: left;}
/*-----------------------------------------------------------------------------------------------------------*/
.FSW_Not_Open {text-align: center; background-color: black; color: white; margin: 10px auto; width: 290px;}
/*-----------------------------------------------------------------------------------------------------------*/
.TravelTimes caption { text-align:center; font-weight: bold; text-decoration: underline;}
/*-----------------------------------------------------------------------------------------------------------*/
tr.Available { background-color: grey; color: white; }
/*-----------------------------------------------------------------------------------------------------------*/
#fsw_housing_table th, #fsw_housing_table td { text-align: center; }
/*-----------------------------------------------------------------------------------------------------------*/
#pref_div, #dietary_div, #attendance_div, #significantOtter_div { float: left; margin: 0px 30px 30px 0px; }
body.page-id-963 .entry-content br:nth-child(2), br:nth-child(4), br:nth-child(6) { display:none; }
#roommates_div { clear:both; }
#select_roommates { margin: 0px 10px 0px 0px; }
/*-----------------------------------------------------------------------------------------------------------*/
